<div style="text-align: center" >
  <h1>　</h1>
  <h3>
    良いことあった日、初めての経験をした日などを記念日として登録してみましょう！</br>
    ちょっと特別なことから、どうでもいいことまで、</br>
    とりあえず共有してみると、小さなことでも毎日を楽しく過ごせるかも！？</br>
  </h3>
  <h2><i class="fab fa-pagelines fa-5x"></i></h2>
</div>

