<div class='jumbotron'>
  <div class='container'>
    <div class='d-flex align-items-center' style="height:300px;">
      <%= link_to new_user_registration_path, class: "btn btn-outline-dark btn-lg" do %>
        <i class="fas fa-user-plus"> 新規登録</i>
      <% end %> 
      <%= link_to new_user_session_path, class: "btn btn-outline-dark btn-lg" do %>
        <i class="fas fa-sign-in-alt"> ログイン</i>
      <% end %>
    </div>
  </div>
</div>