<div class='container'>
  <div class='row'>
    <h4>　　</h4>
    <div class="text-center">
      <%= image_tag 'top_coffee.jpg', class: 'background_image' %>
    </div>
    <div class="mx-auto">
      <h1>
        <%= link_to 'ログイン',new_user_session_path, class: "btn btn-outline-dark btn-lg" %>
        <%= link_to '新規登録',new_user_registration_path, class: "btn btn-outline-dark btn-lg" %>
      </h1>
    </div>
  </div>
</div>