/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// ブートストラップを読み込ませる記述
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.jumbotron {
  background:url(book.jpg) center no-repeat;
  background-size: cover;
  background-position: center center;
  height:900px;
  margin-bottom:0;
}

footer {
  background: #343a40;
  color: #ffffff;
  // fotterを固定する
  position: fixed;
  width: 100%;
  bottom: 0;
}

body {
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 768px) { body, html {font-size: 10px; } }